<div>
	@if ((breakpointService.isMobile() | async) === false) {
		<span class="name">
			{{ user?.username }}
		</span>
	}
	<app-split-button #splitButton (splitButtonClick)="onProfileClick()">
		<div button>
			@if (user?.avatarURL) {
				<img alt="User avatar" height="36" width="36" [ngSrc]="user?.avatarURL" class="avatar" />
			}
		</div>
		<div dropdown-button>
			@if (breakpointService.isMobile() | async) {
				<div>
					@if (user?.avatarURL) {
						<img alt="User avatar" height="36" width="36" [ngSrc]="user?.avatarURL" class="avatar" />
					}
				</div>
			} @else {
				<mat-icon dropdown-button class="dropdown-button">arrow_drop_down</mat-icon>
			}
		</div>
		@if (breakpointService.isMobile() | async) {
			<app-split-button-item *appSplitButtonItem (splitButtonClick)="onProfileClick()" icon="person" text="Profile" />
		}
		<app-split-button-item *appSplitButtonItem (splitButtonClick)="onAccountClick()" icon="manage_accounts" text="Account" />
		<app-split-button-item *appSplitButtonItem (splitButtonClick)="onGuestsClick()" icon="supervisor_account" text="Guests" />
		<app-split-button-item *appSplitButtonItem (splitButtonClick)="inviteUser()" icon="person_add" text="Invite" />
		<app-split-button-item *appSplitButtonItem (splitButtonClick)="logout()" icon="logout" text="Log out" />
	</app-split-button>
</div>
