@if ((loading | async) === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div>
				@if (senders.length > 0) {
					<div>
						<div class="payments-header" [ngClass]="{ 'empty-payments': paymentsSelf.length === 0 }">
							<h3 class="payments-title">Your payments</h3>
							@if (paymentsSelf.length > 0) {
								<button mat-button color="accent" (click)="toggleExpand(1)" class="collapse-button">
									<mat-icon>{{ allExpandedSelf ? "visibility_off" : "visibility" }}</mat-icon>
									{{ allExpandedSelf ? "Collapse all payments" : "Show all payments" }}
								</button>
							}
						</div>
						@if (paymentsSelf.length > 0) {
							<app-payment-expansion-panel-item
								#paymentsSelfRef
								[senders]="paymentsSelf"
								[self]="true"
								[currentUser]="currentUser"
								(allPanelsExpanded)="panelToggled(1, $event)"
							>
							</app-payment-expansion-panel-item>
						} @else {
							<span class="empty-payments-text">You have no payments in this event</span>
						}
						<div class="payments-header" [ngClass]="{ 'empty-payments': paymentsOthers.length === 0 }">
							<h3 class="payments-title">Other payments</h3>
							@if (paymentsOthers.length > 0) {
								<button mat-button color="accent" (click)="toggleExpand(2)" class="collapse-button">
									<mat-icon>{{ allExpandedOthers ? "visibility_off" : "visibility" }}</mat-icon>
									{{ allExpandedOthers ? "Collapse all payments" : "Show all payments" }}
								</button>
							}
						</div>
						@if (paymentsOthers.length > 0) {
							<app-payment-expansion-panel-item
								#paymentsOthersRef
								[senders]="paymentsOthers"
								[self]="false"
								[currentUser]="currentUser"
								(allPanelsExpanded)="panelToggled(2, $event)"
							>
							</app-payment-expansion-panel-item>
						} @else {
							<span class="empty-payments-text">There are no other payments in this event</span>
						}
					</div>
				} @else {
					<div class="no-payments">
						<mat-card appearance="outlined">
							<mat-card-content><h1>No payments</h1></mat-card-content>
						</mat-card>
					</div>
				}
			</div>
		} @else {
			@if (senders.length > 0) {
				<div>
					@if (paymentsSelf.length > 0) {
						<div>
							@if (paymentsOthers.length > 0) {
								<div class="title-mobile">Your payments</div>
							}
							<mat-nav-list class="payments-list-mobile">
								@for (sender of paymentsSelf; track sender.sender.id) {
									<app-payment-item [sender]="sender" [self]="true" [currentUser]="currentUser"> </app-payment-item>
								}
							</mat-nav-list>
						</div>
					}
					@if (paymentsOthers.length > 0) {
						<div>
							@if (paymentsSelf.length > 0) {
								<div class="title-mobile">Other payments</div>
							}
							<mat-nav-list class="payments-list-mobile">
								@for (sender of paymentsOthers; track sender.sender.id) {
									<app-payment-item [sender]="sender" [self]="false" [currentUser]="currentUser"> </app-payment-item>
								}
							</mat-nav-list>
						</div>
					}
				</div>
			} @else {
				<div class="no-payments-mobile">No payments</div>
			}
		}
	</div>
} @else {
	<app-loading-spinner></app-loading-spinner>
}
