<div *ngIf="(loading | async) === false; else loadingSpinner">
	<div *ngIf="(breakpointService.isMobile() | async) === false; else mobileView">
		<div *ngIf="senders.length > 0; else noPayments">
			<div class="payments-header" [ngClass]="{ 'no-payments': paymentsSelf.length === 0 }">
				<h3 class="payments-title">Your payments</h3>
				<button *ngIf="paymentsSelf.length > 0" mat-button color="accent" (click)="toggleExpand(1)" class="collapse-button">
					<mat-icon>{{ allExpandedSelf ? "visibility_off" : "visibility" }}</mat-icon>
					{{ allExpandedSelf ? "Collapse all payments" : "Show all payments" }}
				</button>
			</div>
			<app-payment-expansion-panel-item
				#paymentsSelfRef
				*ngIf="paymentsSelf.length > 0; else noPaymentsSelf"
				[senders]="paymentsSelf"
				[self]="true"
				[currentUser]="currentUser"
				(allPanelsExpanded)="panelToggled(1, $event)"
			>
			</app-payment-expansion-panel-item>
			<ng-template #noPaymentsSelf>
				<span class="no-payments-text">You have no payments in this event</span>
			</ng-template>
			<div class="payments-header" [ngClass]="{ 'no-payments': paymentsOthers.length === 0 }">
				<h3 class="payments-title">Other payments</h3>
				<button *ngIf="paymentsOthers.length > 0" mat-button color="accent" (click)="toggleExpand(2)" class="collapse-button">
					<mat-icon>{{ allExpandedOthers ? "visibility_off" : "visibility" }}</mat-icon>
					{{ allExpandedOthers ? "Collapse all payments" : "Show all payments" }}
				</button>
			</div>
			<app-payment-expansion-panel-item
				#paymentsOthersRef
				*ngIf="paymentsOthers.length > 0; else noPaymentsOthers"
				[senders]="paymentsOthers"
				[self]="false"
				[currentUser]="currentUser"
				(allPanelsExpanded)="panelToggled(2, $event)"
			>
			</app-payment-expansion-panel-item>
			<ng-template #noPaymentsOthers>
				<span class="no-payments-text">There are no other payments in this event</span>
			</ng-template>
		</div>
	</div>
</div>

<ng-template #mobileView>
	<div *ngIf="senders.length > 0; else noPaymentsMobile">
		<div *ngIf="paymentsSelf.length > 0">
			<div *ngIf="paymentsOthers.length > 0" class="title-mobile">Your payments</div>
			<mat-nav-list class="payments-list-mobile">
				<app-payment-item *ngFor="let sender of paymentsSelf" [sender]="sender" [self]="true" [currentUser]="currentUser">
				</app-payment-item>
			</mat-nav-list>
		</div>
		<div *ngIf="paymentsOthers.length > 0">
			<div *ngIf="paymentsSelf.length > 0" class="title-mobile">Other payments</div>
			<mat-nav-list class="payments-list-mobile">
				<app-payment-item *ngFor="let sender of paymentsOthers" [sender]="sender" [self]="false" [currentUser]="currentUser">
				</app-payment-item>
			</mat-nav-list>
		</div>
	</div>
</ng-template>

<ng-template #loadingSpinner>
	<app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #noPayments>
	<div class="no-payments">
		<mat-card appearance="outlined">
			<mat-card-content><h1>No payments</h1></mat-card-content>
		</mat-card>
	</div>
</ng-template>

<ng-template #noPaymentsMobile>
	<div class="no-payments-mobile">No payments</div>
</ng-template>
