@if ((breakpointService.isMobile() | async) === false) {
	<mat-toolbar>
		<span class="logo-container">
			<img [ngSrc]="'assets/mikane.svg'" height="26" width="26" alt="Mikane logo" class="logo" />
		</span>
		<span>MIKANE</span>
	</mat-toolbar>
}
@if ((breakpointService.isMobile() | async) === false) {
	<div class="login-section">
		<mat-card class="login-content">
			<mat-card-header class="card-header">
				<div mat-card-avatar>
					<mat-icon aria-hidden="false">account_circle</mat-icon>
				</div>
				<mat-card-title>
					@if (!resetPasswordView) {
						<div>Login</div>
					} @else {
						<div>Reset password</div>
					}
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="card-content">
				@if (!resetPasswordView) {
					<ng-container *ngTemplateOutlet="loginContent" />
				} @else {
					<ng-container *ngTemplateOutlet="resetPasswordContent" />
				}
			</mat-card-content>
		</mat-card>
	</div>
}
<!-- Mobile -->
@else {
	<div class="bg">
		<div class="mobile-view">
			<h1 class="mobile-title">
				<span class="mobile-logo-container">
					<img [ngSrc]="'assets/mikane.svg'" height="26" width="26" alt="Mikane logo" class="logo" />
				</span>
				<span class="logo-text"> MIKANE </span>
			</h1>
			@if (!resetPasswordView) {
				<ng-container *ngTemplateOutlet="loginContent" />
			} @else {
				<h2 class="reset-password-title">Reset password</h2>
				<ng-container *ngTemplateOutlet="resetPasswordContent" />
			}
		</div>
	</div>
}

<ng-template #loginContent>
	<form [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
		<div>
			<mat-form-field appearance="fill" class="login-input">
				<mat-label>Username or Email</mat-label>
				<input type="text" id="username-input" matInput placeholder="Username or Email" formControlName="username" #usernameField />
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="fill" class="login-input">
				<mat-label>Password</mat-label>
				<input [type]="hide ? 'password' : 'text'" matInput id="password-input" placeholder="Password" formControlName="password" />
				<button
					type="button"
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					tabindex="-1"
				>
					<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<button type="submit" [disabled]="loading" mat-raised-button color="primary" id="login-button" class="login-input button">
			@if (!loading) {
				<ng-container matButtonIcon>
					<mat-icon aria-hidden="false">login</mat-icon>
					<span>Log in</span>
				</ng-container>
			} @else {
				<mat-spinner diameter="20" class="mat-spinner" />
			}
		</button>
		<div class="forgot-password">
			<button type="button" class="forgot-password-button" (click)="toggleForgotPassword()">Forgot password?</button>
		</div>
	</form>
</ng-template>

<ng-template #resetPasswordContent>
	<div class="forgot-password-text">Please enter the email address associated with your account.</div>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetPasswordEmail()" id="reset-form">
		<mat-form-field appearance="fill" class="login-input">
			<mat-label>Email</mat-label>
			<input type="email" id="email-input" matInput placeholder="Email" formControlName="email" />
			@if (resetPasswordForm.get("email")?.invalid) {
				<mat-error> Invalid email </mat-error>
			}
		</mat-form-field>
		<button type="submit" id="password-button" mat-raised-button color="primary" class="login-input button">
			@if (!loading) {
				<ng-container matButtonIcon>
					<mat-icon aria-hidden="false">email</mat-icon>
					<span>Send instructions</span>
				</ng-container>
			} @else {
				<mat-spinner diameter="20" class="mat-spinner" />
			}
		</button>
		@if (resetPasswordRequestSent) {
			<div class="info-text">
				Your password reset request has been received and is being processed. You will receive an email with password reset
				instructions shortly.
			</div>
		}
		@if (errorResponse) {
			<div class="info-text error-text">
				{{ errorResponse }}
			</div>
		}
		<div class="forgot-password">
			<button type="button" class="forgot-password-button" (click)="toggleForgotPassword(); resetText()">Back</button>
		</div>
	</form>
</ng-template>
