#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	background-color: #212121;
}

#text {
	color: #777777;
	font-size: 14px;
	text-align: center;
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
