<h1 mat-dialog-title>Add Expense Category</h1>
<div mat-dialog-content>
	<form [formGroup]="addCategoryForm">
		<mat-form-field appearance="fill">
			<mat-label>Category Name</mat-label>
			<input matInput type="text" formControlName="categoryName" name="categoryName" id="categoryName" required />
		</mat-form-field>
		<div>
			<mat-checkbox name="weighted" formControlName="weighted">Weighted</mat-checkbox>
		</div>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [mat-dialog-close]="addCategoryForm.value" [disabled]="addCategoryForm.invalid || !addCategoryForm.dirty">
		Save
	</button>
</div>
