.toolbar-spacer {
	flex: 1 1 auto;
}

mat-toolbar button {
	margin-left: 1em;
}

#header {
	padding: 16px;
}

.logo-container {
	min-width: 26px;
	height: 26px;
	padding-right: 14px;

	.logo {
		height: 26px;
	}
}

.events-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 2em;

	.event-card {
		min-width: 30em;
		max-width: 40em;
		width: 70vw;
	}
}

.event-item {
	margin-bottom: 0.5em;

	.event-header {
		align-items: center;
		padding: 8px 16px 8px;
		.event-actions {
			margin-left: auto;
		}
	}

	.clickable {
		cursor: pointer;
	}

	.clickable:hover {
		background-image: linear-gradient(#494949, #4c4c4c, #494949);
	}
}
