<mat-toolbar>PUDDING DEBT</mat-toolbar>
<div *ngIf="(loading | async) === false; else loadingSpinner">
	<div class="events-container">
		<button
			*ngFor="let event of events"
			mat-flat-button
			type="button"
			color="secondary"
			(click)="clickEvent(event)"
		>
			{{ event.name }}
		</button>
	</div>
	<div class="add-button">
		<button mat-raised-button color="primary" (click)="openDialog()">
			New event
		</button>
	</div>
</div>

<ng-template #loadingSpinner>
	<loading-spinner></loading-spinner>
</ng-template>
