.toolbar-spacer {
	flex: 1 1 auto;
}

mat-toolbar button {
	margin-left: 1em;
}

#header {
	padding: 16px;
}

.events-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 2em;

	.event-card {
		min-width: 30em;
		max-width: 40em;
		width: 70vw;
	}
}

.event-item {
	margin-bottom: 0.5em;

	.event-header {
		align-items: center;
		padding: 8px 16px 8px;
		.clickable {
			cursor: pointer;
		}
		.event-actions {
			margin-left: auto;
		}
	}
}
