<mat-toolbar>
	<span class="logo-container">
		<img src="assets/puddingdebt.svg" class="logo" />
	</span>
	<span>PUDDING DEBT</span>
	<span class="toolbar-spacer"></span>
	<menu></menu>
</mat-toolbar>
<div *ngIf="(loading | async) === false; else loadingSpinner">
	<div class="events-container">
		<mat-card class="event-card" [ngClass]="{ mobile: breakpointService.isMobile() | async }">
			<mat-card-header id="header">
				<mat-card-title> Events </mat-card-title>
			</mat-card-header>
			<mat-card-content class="card-content">
				<mat-card *ngFor="let event of pagedEvents" class="event-item">
					<mat-card-header class="event-header clickable" (click)="clickEvent(event)">
						<mat-card-title class="event-title">
							<span class="event-name">
								{{ event.name }}
								<mat-icon
									*ngIf="event.user.inEvent"
									matTooltip="You are in this event"
									[matTooltipShowDelay]="200"
									class="joined-icon"
								>
									how_to_reg
								</mat-icon>
								<span
									*ngIf="event.user.isAdmin"
									matTooltip="You are an admin for this event"
									[matTooltipShowDelay]="200"
									class="admin-icon"
								>
									A
								</span>
							</span>
						</mat-card-title>
						<mat-card-subtitle>
							{{ event.description }}
						</mat-card-subtitle>
						<span *ngIf="event.user.isAdmin && (breakpointService.isMobile() | async) === false" class="event-actions">
							<button mat-icon-button (click)="editEvent(event); $event.stopPropagation()">
								<mat-icon>edit</mat-icon>
							</button>
						</span>
					</mat-card-header>
				</mat-card>
				<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
				</mat-paginator>
			</mat-card-content>
			<mat-card-actions>
				<div class="add-button">
					<button mat-raised-button color="primary" (click)="openDialog()">
						<mat-icon>edit_calendar</mat-icon>
						New event
					</button>
				</div>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<ng-template #loadingSpinner>
	<loading-spinner></loading-spinner>
</ng-template>
