.wrapper {
	height: fit-content !important;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(181, 181, 181, 0.1);
}

.expense-icon {
	margin-right: 16px !important;
}

.price-category {
	font-size: 0.9em;
	margin-bottom: 4px;

	.price {
		color: rgb(127, 221, 117);
	}

	.category {
		color: rgba(255, 255, 255, 0.7);
	}
}

.title {
	white-space: normal;
	max-height: 3em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.payer {
	display: flex;
	align-items: center;

	color: rgba(255, 255, 255, 0.7);
	font-size: 0.9em;
	margin-top: 4px;
}

.payer-icon {
	font-size: 18px;
	height: 18px;
}
