<mat-button-toggle-group class="button-group">
	<mat-button-toggle (click)="onClick()" class="split-button main-button" *ngIf="(breakpointService.isMobile() | async) === false">
		<ng-content select="[button]"></ng-content>
	</mat-button-toggle>
	<mat-button-toggle (click)="toggleDropdown()" class="split-button" [ngClass]="{ mobile: breakpointService.isMobile() | async }">
		<mat-icon>arrow_drop_down</mat-icon>
	</mat-button-toggle>
</mat-button-toggle-group>

<div
	*ngIf="toggled"
	class="dropdown"
	[@overlayAnimation]="{
		value: 'toggled',
		params: { showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions }
	}"
>
	<ul class="menu-list">
		<li>
			<a dropdown1 (click)="dropdownClicked(1)" class="link">
				<ng-content select="[dropdown1]"></ng-content>
			</a>
		</li>
		<li>
			<a dropdown2 (click)="dropdownClicked(2)" class="link">
				<ng-content select="[dropdown2]"></ng-content>
			</a>
		</li>
		<!-- <li class="menu-separator"></li> -->
	</ul>
</div>
