@if ((breakpointService.isMobile() | async) === false) {
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon aria-hidden="false">manage_accounts</mat-icon>
			</div>
			<mat-card-title>Preferences</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<ng-container *ngTemplateOutlet="preferencesContent" />
		</mat-card-content>
	</mat-card>
} @else {
	<div class="title-mobile">Preferences</div>
	<div class="preferences-mobile">
		<ng-container *ngTemplateOutlet="preferencesContent" />
	</div>
}

<ng-template #preferencesContent>
	<div class="preferences">
		<div class="toggle-line">
			<span>Show email:</span>
			<span class="toggle">
				<mat-slide-toggle id="emailToggle" [(ngModel)]="publicEmail" [disabled]="loadingEmail" (change)="toggleEmail()" />
			</span>
		</div>
		<div class="text">Choose whether your email is visible to others on your profile.</div>
	</div>
	<div class="preferences">
		<div class="toggle-line">
			<span>Show phone number:</span>
			<span class="toggle">
				<mat-slide-toggle id="phoneToggle" [(ngModel)]="publicPhone" [disabled]="loadingPhone" (change)="togglePhone()" />
			</span>
		</div>
		<div class="text end">
			Choose whether your phone number is visible to others. Making it public will help others contact and/or pay you more easily.
		</div>
	</div>
</ng-template>
