<h1 mat-dialog-title>Add user to event</h1>
<div mat-dialog-content>
	<form [formGroup]="addUserForm">
		<mat-form-field appearance="fill">
			<mat-label>User</mat-label>
			<mat-select formControlName="users" multiple>
				<mat-option *ngFor="let user of users" [value]="user">{{ user.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [mat-dialog-close]="addUserForm.value" [disabled]="addUserForm.invalid || !addUserForm.dirty">Add</button>
</div>
