.category-table {
  width: 40%;
  min-width: 40%;
}

.category-table-weighted {
  width: 50%;
  min-width: 50%;
}

.category-user-input {
  width: 280px;
}

.category-weight-input {
  width: 140px;
}

.add-user {
  margin-top: 20px;
  margin-bottom: 20px;
}
