@if ((breakpointService.isMobile() | async) === false) {
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon>person</mat-icon>
			</div>
			<mat-card-title>Account details</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div>
				<form [formGroup]="editUserForm" (ngSubmit)="editUser()">
					<div class="setting-row">
						@if (editMode) {
							<mat-form-field appearance="fill" class="input-field">
								<mat-label>Username</mat-label>
								<input type="text" matInput placeholder="Username" formControlName="username" />
								@if (editUserForm.get("username")?.errors?.["required"]) {
									<mat-error>Username required</mat-error>
								}
								@if (editUserForm.get("username")?.errors?.["duplicate"]) {
									<mat-error>Username already taken</mat-error>
								}
								@if (editUserForm.get("username")?.errors?.["invalid"]) {
									<mat-error>Between 3-40 characters - only letters, numbers, hyphens, underscores</mat-error>
								}
							</mat-form-field>
						}
						@else {
							<span class="user-padding"> Username: </span>
							<span class="user-details">
								{{ editUserForm.get("username").value }}
							</span>
						}
					</div>
					<div class="setting-row">
						@if (editMode) {
							<mat-form-field appearance="fill" class="input-field">
								<mat-label>First Name</mat-label>
								<input
									type="text"
									matInput
									placeholder="First name"
									autocomplete="given-name"
									formControlName="firstName"
								/>
								@if (editUserForm.get("firstName")?.invalid) {
									<mat-error>First name required</mat-error>
								}
							</mat-form-field>
						}
						@else {
							<span class="user-padding"> First name: </span>
							<span class="user-details">
								{{ editUserForm.get("firstName").value }}
							</span>
						}
					</div>
					<div class="setting-row">
						@if (editMode) {
							<mat-form-field class="input-field">
								<mat-label>Last Name</mat-label>
								<input type="text" matInput placeholder="Last name" autocomplete="family-name" formControlName="lastName" />
								@if (editUserForm.get("lastName")?.invalid) {
									<mat-error>Last name invalid</mat-error>
								}
							</mat-form-field>
						}
						@else {
							<span class="user-padding"> Last name: </span>
							<span class="user-details">
								{{ editUserForm.get("lastName").value }}
							</span>
						}
					</div>
					<div class="setting-row">
						@if (editMode) {
							<mat-form-field class="input-field">
								<mat-label>Email</mat-label>
								<input type="text" matInput placeholder="Email" autocomplete="email" formControlName="email" />
								@if (editUserForm.get("email")?.errors?.["required"]) {
									<mat-error>Email required</mat-error>
								}
								@if (editUserForm.get("email")?.errors?.["duplicate"]) {
									<mat-error>Email already in use</mat-error>
								}
								@if (editUserForm.get("email")?.errors?.["invalid"]) {
									<mat-error>Invalid email</mat-error>
								}
							</mat-form-field>
						}
						@else {
							<span class="user-padding"> Email: </span>
							<span class="user-details">
								{{ editUserForm.get("email").value }}
							</span>
						}
					</div>
					<div class="setting-row">
						@if (editMode) {
							<mat-form-field class="input-field">
								<mat-label>Phone Number</mat-label>
								<input type="text" matInput placeholder="Phonenumber" autocomplete="tel" formControlName="phone" />
								@if (editUserForm.get("phone")?.errors?.["required"]) {
									<mat-error>Phone number required</mat-error>
								}
								@if (editUserForm.get("phone")?.errors?.["invalid"]) {
									<mat-error>Invalid phone number</mat-error>
								}
								@if (editUserForm.get("phone")?.errors?.["duplicate"]) {
									<mat-error>Phone number already in use</mat-error>
								}
							</mat-form-field>
						}
						@else {
							<span class="user-padding"> Phone number: </span>
							<span class="user-details">
								{{ editUserForm.get("phone").value }}
							</span>
						}
					</div>
					@if (!editMode) {
						<div class="setting-row">
							<span class="user-padding"> Avatar: </span>
							<span class="account-avatar-link user-details">
								Manage with <a href="https://www.gravatar.com/" target="_blank">Gravatar</a>
							</span>
						</div>
					}
					<br />
					<mat-card-actions class="setting-row">
						@if (editMode) {
							<div>
								<button type="button" mat-button color="accent" (click)="cancelEditMode()" class="user-settings-actions">
									Cancel
								</button>
								<button type="submit" mat-raised-button [disabled]="editUserForm.invalid || editUserForm.pending" color="primary">
									<mat-icon>check_cirle</mat-icon>
									Save changes
								</button>
							</div>
						}
						@else {
							<button type="button" mat-raised-button color="primary" (click)="toggleEditMode()">
								<mat-icon>edit</mat-icon>
								Edit
							</button>
						}
					</mat-card-actions>
				</form>
			</div>
		</mat-card-content>
	</mat-card>
} @else {
	<div class="title-mobile">Account details</div>
	<div class="user-settings-mobile">
		<form [formGroup]="editUserForm" (ngSubmit)="editUser()">
			<div>
				@if (editMode) {
					<mat-form-field appearance="fill" class="input-field">
						<mat-label>Username</mat-label>
						<input type="text" matInput placeholder="Username" autocomplete="username" formControlName="username" />
						@if (editUserForm.get("username")?.errors?.["required"]) {
							<mat-error>Username required</mat-error>
						}
						@if (editUserForm.get("username")?.errors?.["duplicate"]) {
							<mat-error>Username already taken</mat-error>
						}
						@if (editUserForm.get("username")?.errors?.["invalid"]) {
							<mat-error>Between 3-40 characters - only letters, numbers, hyphens, underscores</mat-error>
						}
					</mat-form-field>
				}
				@else {
					<span class="user-property-title"> Username: </span>
					<span class="user-details">
						{{ editUserForm.get("username").value }}
					</span>
				}
			</div>
			<div>
				@if (editMode) {
					<mat-form-field appearance="fill" class="input-field">
						<mat-label>First Name</mat-label>
						<input type="text" matInput placeholder="First name" autocomplete="given-name" formControlName="firstName" />
						@if (editUserForm.get("firstName")?.invalid) {
							<mat-error>First name required</mat-error>
						}
					</mat-form-field>
				}
				@else {
					<span class="user-property-title"> First name: </span>
					<span class="user-details">
						{{ editUserForm.get("firstName").value }}
					</span>
				}
			</div>
			<div>
				@if (editMode) {
					<mat-form-field class="input-field">
						<mat-label>Last Name</mat-label>
						<input type="text" matInput placeholder="Last name" autocomplete="family-name" formControlName="lastName" />
						@if (editUserForm.get("lastName")?.invalid) {
							<mat-error>Last name invalid</mat-error>
						}
					</mat-form-field>
				}
				@else {
					<span class="user-property-title"> Last name: </span>
					<span class="user-details">
						{{ editUserForm.get("lastName").value }}
					</span>
				}
			</div>
			<div>
				@if (editMode) {
					<mat-form-field class="input-field">
						<mat-label>Email</mat-label>
						<input type="text" matInput placeholder="Email" autocomplete="email" formControlName="email" />
						@if (editUserForm.get("email")?.errors?.["required"]) {
							<mat-error>Email required</mat-error>
						}
						@if (editUserForm.get("email")?.errors?.["duplicate"]) {
							<mat-error>Email already in use</mat-error>
						}
						@if (editUserForm.get("email")?.errors?.["invalid"]) {
							<mat-error>Invalid email</mat-error>
						}
					</mat-form-field>
				}
				@else {
					<span class="user-property-title"> Email: </span>
					<span class="user-details">
						{{ editUserForm.get("email").value }}
					</span>
				}
			</div>
			<div>
				@if (editMode) {
					<mat-form-field class="input-field">
						<mat-label>Phone Number</mat-label>
						<input type="text" matInput placeholder="Phone number" autocomplete="tel" formControlName="phone" />
						@if (editUserForm.get("phone")?.errors?.["required"]) {
							<mat-error>Phone number required</mat-error>
						}
						@if (editUserForm.get("phone")?.errors?.["invalid"]) {
							<mat-error>Invalid phone number</mat-error>
						}
						@if (editUserForm.get("phone")?.errors?.["duplicate"]) {
							<mat-error>Phone number already in use</mat-error>
						}
					</mat-form-field>
				}
				@else {
					<span class="user-property-title"> Phone number: </span>
					<span class="user-details">
						{{ editUserForm.get("phone").value }}
					</span>
				}
			</div>
			@if (!editMode) {
				<div>
					<span class="user-property-title"> Avatar: </span>
					<span class="account-avatar-link user-details">
						Manage with <a href="https://www.gravatar.com/" target="_blank">Gravatar</a>
					</span>
				</div>
			}
			<span class="buttons">
				@if (editMode) {
					<div>
						<button type="button" mat-button color="accent" (click)="cancelEditMode()" class="user-settings-actions">
							Cancel
						</button>
						<button type="submit" mat-raised-button [disabled]="editUserForm.invalid || editUserForm.pending" color="primary">
							<mat-icon>check_cirle</mat-icon>
							Save changes
						</button>
					</div>
				}
				@else {
					<button type="button" mat-raised-button color="primary" (click)="toggleEditMode()">
						<mat-icon>edit</mat-icon>
						Edit
					</button>
				}
			</span>
		</form>
	</div>
}
