<div class="add-button" >
    <button mat-raised-button color="primary" (click)="openDialog()">Add expense</button>
</div>

<table *ngIf="expenses.length > 0;else noExpenses" class="expense-table" mat-table [dataSource]="expenses">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let expense"> {{expense.name}} </td>
    </ng-container>

    <!-- Payer Column -->
    <ng-container matColumnDef="payer">
        <th mat-header-cell *matHeaderCellDef> Payer </th>
        <td mat-cell *matCellDef="let expense"> {{expense.payer.name}} </td>
    </ng-container>

    <!-- Expense Category -->
    <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let expense"> {{expense.categoryName}} </td>
    </ng-container>
    
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell class="category-amount" *matCellDef="let expense"> 
            <div>
                {{expense.amount | currency:'':'':'1.2-2':'no'}} kr
            </div>
        </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let expense">
            <button mat-icon-button type="button" (click)="removeExpense(expense.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<ng-template #noExpenses>
    <mat-card>
        No expenses
    </mat-card>
</ng-template>