.expenses-list-mobile {
  padding: 0;
}

.category-amount {
	// text-align: right;
	// justify-content: flex-end;
	div {
		margin-right: 1.5em;
    color: rgb(172 255 163);
	}
}

.add-expense-button-mobile {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
}
