@if ((breakpointService.isMobile() | async) === false) {
	<mat-toolbar>
		<span class="logo-container">
			<img [ngSrc]="'assets/mikane.svg'" height="26" width="26" alt="Mikane logo" class="logo" />
		</span>
		<span>MIKANE</span>
	</mat-toolbar>
}
@if (resetKey) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="reset-password">
				<mat-card class="reset-password-card">
					<mat-card-header>
						<div mat-card-avatar>
							<mat-icon aria-hidden="false">key</mat-icon>
						</div>
						<mat-card-title>Reset password</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<ng-container *ngTemplateOutlet="resetPasswordContent" />
					</mat-card-content>
				</mat-card>
			</div>
		} @else {
			<div class="bg">
				<div class="mobile-view">
					<h1 class="mobile-title">
						<span class="mobile-logo-container">
							<img [ngSrc]="'assets/mikane.svg'" height="26" width="26" alt="Mikane logo" class="logo" />
						</span>
						<span class="logo-text"> MIKANE </span>
					</h1>
					<h3 class="reset-password-title">Reset your password</h3>
					<ng-container *ngTemplateOutlet="resetPasswordContent" />
				</div>
			</div>
		}
	</div>
}

<ng-template #resetPasswordContent>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
		<div>
			<mat-form-field appearance="fill" class="password-input">
				<mat-label>New Password</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					name="change-pw"
					autocomplete="off"
					placeholder="Password"
					formControlName="newPassword"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					type="button"
					tabindex="-1"
				>
					<mat-icon>
						{{ hide ? "visibility_off" : "visibility" }}
					</mat-icon>
				</button>
				@if (resetPasswordForm.get("newPassword")?.invalid) {
					<mat-error> Invalid password </mat-error>
				}
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="fill" class="password-input">
				<mat-label>Retype Password</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					name="change-pw"
					autocomplete="off"
					placeholder="Password"
					formControlName="newPasswordRetype"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					type="button"
					tabindex="-1"
				>
					<mat-icon>
						{{ hide ? "visibility_off" : "visibility" }}
					</mat-icon>
				</button>
				@if (resetPasswordForm.get("newPasswordRetype")?.invalid) {
					<mat-error> Password does not match </mat-error>
				}
			</mat-form-field>
		</div>
		<br />
		<button
			type="submit"
			mat-raised-button
			color="primary"
			class="reset-password-button"
			[ngClass]="{ mobile: breakpointService.isMobile() | async }"
		>
			Reset password
		</button>
	</form>
</ng-template>
