<mat-list-item class="wrapper" (click)="gotoExpense()">
	<mat-icon matListItemIcon class="expense-icon">{{ expense.categoryInfo.icon ?? 'shopping_cart' }}</mat-icon>
	<div class="price-category">
		<span class="amount-color-darker">{{ expense.amount | currency : "" : "" : "1.2-2" : "no" }} kr</span>
		<span class="category"> / {{ expense.categoryInfo.name }} </span>
	</div>
	<div class="title">
		{{ expense.name }}
	</div>
	<div class="payer">
		<img [src]="expense.payer.avatarURL" class="payer-avatar" />
		<span class="payer-name">
			{{ expense.payer.name }}
		</span>
	</div>
</mat-list-item>
