<mat-list-item class="wrapper">
	<mat-icon matListItemIcon class="expense-icon">{{ expense.categoryInfo.icon ?? 'shopping_cart' }}</mat-icon>
	<div class="price-category">
		<span class="amount-color-mobile">{{ expense.amount | currency : "" : "" : "1.2-2" : "no" }} kr</span>
		<span class="category"> / {{ expense.categoryInfo.name }} </span>
	</div>
	<div class="title">
		{{ expense.name }}
	</div>
	<div class="payer">
		<mat-icon class="payer-icon">person</mat-icon>
		{{ expense.payer.name }}
	</div>
</mat-list-item>
