.toolbar-spacer {
	flex: 1 1 auto;
}

.events-toolbar {
	padding-left: 16px !important;
}

mat-toolbar button {
	margin-left: 1em;
}

.settled-events {
	margin-top: 30px;
}

.header {
	padding: 20px 16px 20px;
	margin-bottom: 18px;
	font-size: 20px;
	background-color: rgba(33, 33, 33, 0.8);
}

.events-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-top: 2em;

	.event-card {
		margin-bottom: 28px;
		min-width: 34em;
		max-width: 54em;
		width: 70vw;
		background-color: #3d3d3d;
	}

	.no-events {
		margin-top: 28px;
		margin-left: 16px;
		color: rgba(255, 255, 255, 0.6);
	}
}

.event-item {
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 0.4em;

	.clickable {
		transition: background-color 0.08s ease-in;
		cursor: pointer;
	}

	.clickable:hover {
		background-color: #4c4c4c;
	}

	&.ready-to-settle {
		background-color: #4b4145;

		.clickable:hover {
			background-color: #594d52;
		}
	}

	.event-header {
		min-height: 48px;
		align-items: center;
		padding: 8px 16px 8px;

		.event-actions {
			margin-left: auto;
		}

		.event-name {
			display: flex;
			align-items: center;

			.name-text {
				max-width: 84%;
			}

			.joined-icon {
				margin-left: 10px;
				opacity: 30%;
			}

			.admin-icon {
				padding-left: 4px;
				padding-right: 6px;
				opacity: 30%;
			}
		}
	}
}

.events-paginator {
	background-color: #3d3d3d;
}

.events-list-mobile {
	padding: 0;
}

.title-mobile {
	display: flex;
	align-items: center;
	height: 40px;
	padding-left: 16px;
	background-color: rgba(24, 24, 24, 1);
	border-top: 1px solid #333333;
	stroke: #333333;
}

.no-events-mobile {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 16px;
	color: rgba(255, 255, 255, 0.6);
}

.mat-mdc-card-header-text::ng-deep {
	color: red !important;
}

mat-card-content {
	padding: 0 !important;
}

.add-event-button-mobile {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.2s ease;

	&.hidden {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease;
	}
}
