.button-group {
	border: none;
}

.split-button {
	background-color: #212121;
	color: #d5d5d5;

	@media(max-width: 550px) {
		border: none !important;
	}
}

.main-button {
	width: 64px;
	
	@media(max-width: 550px) {
		display: none;
		border: none;
	}
}

.dropdown {
	right: 13px;
	width: 124px;
	background: rgb(37, 37, 37);
	position: absolute;
	z-index: 9999;
	transform-origin: center top;
	padding: 0.25rem 0;
	box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
	border: 1px solid #383838;
}

.menu-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu-separator {
	border-top: 1px solid #383838;
	margin: 0.25rem 0;
}

.link {
	padding: 0.7rem 1rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 200;
	height: 21px;
}

.link:hover {
	background: rgba(255, 255, 255, 0.03);
	cursor: pointer;
}
