@if ((loading | async) === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="event-info">
				<mat-card class="card">
					<mat-card-header>
						<div mat-card-avatar>
							<mat-icon>info</mat-icon>
						</div>
						<mat-card-title>Event information</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<div class="header">Event admins</div>
						<div class="event-info-content">
							<ng-container *ngTemplateOutlet="adminsContent"></ng-container>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		} @else {
			<div class="header-mobile admins">Event admins</div>
			<div class="admins">
				<ng-container *ngTemplateOutlet="adminsContent"></ng-container>
			</div>
		}
	</div>
} @else {
	<app-loading-spinner></app-loading-spinner>
}

<ng-template #adminsContent>
	<div [ngClass]="{ 'info-full-view': breakpointService.isMobile() | async }">
		If there is anything concerning this event you need to change, contact one of the admins listed below:
	</div>
	<div class="admins-content" [ngClass]="{ 'full-view': (breakpointService.isMobile() | async) === false }">
		<mat-nav-list>
			@for (admin of adminsInEvent; track admin.id) {
				<mat-list-item class="list-item">
					<div class="admin">
						<div class="name">
							<img [src]="admin.avatarURL" alt="User avatar" class="avatar" />
							{{ admin.name }}
						</div>
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
	</div>
</ng-template>
