@if ((loading | async) === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="event-info">
				<mat-card class="card">
					<mat-card-header>
						<div mat-card-avatar>
							<mat-icon>info</mat-icon>
						</div>
						<mat-card-title>Event information</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<div class="header">Status</div>
						<div class="event-info-content">
							<ng-container *ngTemplateOutlet="statusContent"></ng-container>
						</div>
						<div class="header">Privacy</div>
						<div class="event-info-content">
							<ng-container *ngTemplateOutlet="privacyContent"></ng-container>
						</div>
						<div class="header">Administrators</div>
						<div class="event-info-content">
							<ng-container *ngTemplateOutlet="adminsContent"></ng-container>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		}
		<!-- Mobile -->
		@else {
			<div class="header-mobile">Status</div>
			<div class="event-info-content">
				<ng-container *ngTemplateOutlet="statusContent"></ng-container>
			</div>
			<div class="header-mobile">Privacy</div>
			<div class="event-info-content">
				<ng-container *ngTemplateOutlet="privacyContent"></ng-container>
			</div>
			<div class="header-mobile">Administrators</div>
			<div class="event-admins-content-mobile">
				<ng-container *ngTemplateOutlet="adminsContent"></ng-container>
			</div>
		}
	</div>
} @else {
	<app-loading-spinner></app-loading-spinner>
}

<ng-template #statusContent>
	<button
		mat-stroked-button
		disabled
		class="event-info-marker"
	>
		{{ event?.status.name }}
	</button>
	<div>
		@switch (event?.status.id) {
			@case (EventStatusType.ACTIVE) {
				This event is currently <b>active</b>, allowing participants to add to or modify it as needed. Once the event is ready for settlement, it will transition to 'ready to settle' status.
			}
			@case (EventStatusType.READY_TO_SETTLE) {
				This event is currently <b>ready to settle</b>. Once all participants have completed their payments, the event will be marked as settled.
			}
			@case (EventStatusType.SETTLED) {
				This event is currently marked as <b>settled</b>, indicating that all participants have completed their payments, and the event has been finalized.
			}
		}
	</div>
</ng-template>

<ng-template #privacyContent>
	<button
		mat-stroked-button
		type="button"
		color="accent"
		disabled
		class="event-info-marker"
	>
		{{ event?.private ? 'Private' : 'Public' }}
	</button>
	<div>
		@if (event?.private) {
			This event is marked as <b>private</b>, meaning only participants have access to it. To view this event, a user must be added by an existing participant.
		}
		@else {
			This event is marked as <b>public</b>, meaning all users can view the event and join or leave at their convenience.
		}
	</div>
</ng-template>

<ng-template #adminsContent>
	<div [ngClass]="{ 'info-mobile': breakpointService.isMobile() | async }">
		If any changes are needed for this event, please reach out to one of the administrators listed below:
	</div>
	<div class="admins-content" [ngClass]="{ 'full-view': (breakpointService.isMobile() | async) === false }">
		<mat-nav-list>
			@for (admin of adminsInEvent; track admin.id) {
				<mat-list-item class="list-item">
					<div class="admin">
						<div class="name">
							<img
								[src]="admin.avatarURL"
								alt="User avatar"
								class="avatar"
								[ngClass]="{ clickable: !admin.guest }"
								(click)="gotoUserProfile(admin)"
							/>
							{{ admin.name }}
						</div>
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
	</div>
</ng-template>
