.event-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2em;

	.card {
		width: 30vw;
		min-width: 40em;

		.header {
			padding: 12px 16px;
			margin-bottom: 18px;
			font-size: 16px;
			background-color: rgba(33, 33, 33, 0.8);
			border-radius: 4px;
		}
	}
}

.event-info-content {
	padding-left: 16px;
	padding-right: 16px;
}

.info-full-view {
	margin: 20px 14px 10px;
}

.admins-content {
	&.full-view {
		width: 360px;
	}

	.admin {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.name {
	display: flex;
	align-items: center;

	.avatar {
		position: relative;
		width: 24px;
		height: 24px;
		margin-right: 16px;
		border-radius: 50%;
		object-fit: cover;

		&.clickable {
			transition: filter 0.2s;
			cursor: pointer;

			&:hover {
				filter: brightness(1.2);
			}
		}
	}
}

.header-mobile {
	height: 50px;
	margin-bottom: 20px;
}

.event-settings-text {
	margin-bottom: 20px;
}

.list-item {
	cursor: default !important;
}

mat-card-title {
	padding-left: 0 !important;
}
