.login-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2em;
}

.login-content {
	width: 370px;
}

.login-input {
	width: 100%;
}

.logo-container {
	min-width: 26px;
	height: 26px;
	padding-right: 14px;

	.logo {
		height: 26px;
	}
}

.card-header, .card-content {
	padding-left: 30px;
	padding-right: 30px;
}

.card-content {
	margin-top: 15px;
}

.login-actions {
	padding: 0px !important;
}

.login-actions button {
	height: 42px;
}

.forgot-password {
	text-align: center;
	font-size: small;
	margin-top: 20px;
	margin-bottom: 8px;
}

.forgot-password-button {
	opacity: 60%;
	background: none;
	color: white;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.forgot-password-button:hover {
	opacity: 100%;
}

.mat-spinner-color::ng-deep circle{
	stroke: #FFFFFF !important;
}
