<mat-toolbar>
	<span>PUDDING DEBT</span>
</mat-toolbar>
<div class="login-section">
	<mat-card class="login-content">
		<mat-card-header class="card-header">
			<mat-icon mat-card-avatar aria-hidden="false">account_circle</mat-icon>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<form [formGroup]="loginForm" (ngSubmit)="login()">
				<div>
					<mat-form-field appearance="fill" class="login-input">
						<mat-label>Username or Email</mat-label>
						<input type="text" matInput placeholder="Username or Email" formControlName="username" #usernameField />
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="fill" class="login-input">
						<mat-label>Password</mat-label>
						<input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password" />
						<button
							type="button"
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
						>
							<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
						</button>
					</mat-form-field>
				</div>
				<br />
				<mat-card-actions class="login-actions">
					<button type="submit" mat-raised-button color="primary" class="login-input">
						<ng-container matButtonIcon *ngIf="!loading; else loadingSpinner">
							<mat-icon aria-hidden="false">login</mat-icon>
							<span>Log in</span>
						</ng-container>
						<ng-template #loadingSpinner>
							<mat-spinner diameter="25" class="mat-spinner-color"></mat-spinner>
						</ng-template>
					</button>
				</mat-card-actions>
				<div class="forgot-password">
					<button type="button" class="forgot-password-button">Forgot password?</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
