<h1 mat-dialog-title>{{ edit ? "Edit Expense" : "Add Expense" }}</h1>
<div mat-dialog-content>
	<form [formGroup]="addExpenseForm" autocomplete="off">
		<mat-form-field appearance="fill">
			<mat-label>Expense Name</mat-label>
			<input matInput formControlName="name" type="text" required />
			@if (addExpenseForm.get("name")?.errors?.["required"]) {
				<mat-error> Name is required </mat-error>
			}
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Description</mat-label>
			<input matInput formControlName="description" type="text" />
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Expense Category</mat-label>
			<mat-icon matPrefix>{{ findCategory(addExpenseForm.value.category)?.icon ?? "shopping_cart" }}</mat-icon>
			<input
				type="text"
				placeholder="Pick or create a category"
				aria-label="Expense category name"
				matInput
				formControlName="category"
				autocomplete="off"
				[matAutocomplete]="categorySelector"
			/>
			@if (addExpenseForm.get("category")?.errors?.["required"]) {
				<mat-error> Category is required </mat-error>
			}
			<mat-autocomplete #categorySelector="matAutocomplete">
				@for (category of categories; track category.id) {
					<mat-option [value]="category.name">
						<mat-icon matPrefix>{{ category.icon ?? "shopping_cart" }}</mat-icon>
						{{ category.name }}
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Amount</mat-label>
			<input matInput type="number" min="0" formControlName="amount" required />
			@if (addExpenseForm.get("amount")?.errors?.["required"]) {
				<mat-error> Amount is required </mat-error>
			}
			@if (addExpenseForm.get("amount")?.errors?.["min"]) {
				<mat-error> Amount must be positive </mat-error>
			}
		</mat-form-field>
		@if (contextService.isMobileDevice === false) {
			<mat-form-field appearance="fill">
				<mat-label>Payer</mat-label>
				<mat-select formControlName="payerId" required>
					@for (user of users; track user.id) {
						<mat-option [value]="user.id">
							<span class="user">
								<img [ngSrc]="user.avatarURL" alt="User avatar" width="24" height="24" class="avatar" />
								{{ user.name }}
							</span>
						</mat-option>
					}
				</mat-select>
				@if (addExpenseForm.get("payerId")?.errors?.["required"]) {
					<mat-error> Payer is required </mat-error>
				}
			</mat-form-field>
		} @else {
			<mat-form-field appearance="fill">
				<mat-label>Payer</mat-label>
				<select matNativeControl required [formControl]="addExpenseForm.get('payerId') | formControl">
					<option value="" disabled>Choose payer</option>
					@for (user of users; track user.id) {
						<option [selected]="user.id === data.userId" [value]="user.id">
							{{ user.name }}
						</option>
					}
				</select>
			</mat-form-field>
		}
		@if (contextService.isMobileDevice === false) {
			<mat-form-field>
				<mat-label>Expense Date</mat-label>
				<input
					matInput
					readonly
					[matDatepicker]="picker"
					formControlName="expenseDate"
					(click)="picker.open()"
					class="mat-datepicker-input"
				/>
				<mat-icon matDatepickerToggleIcon (click)="clearDate($event)" class="clear-icon">clear</mat-icon>
				<mat-datepicker-toggle matIconSuffix [for]="picker" />
				<mat-datepicker #picker />
			</mat-form-field>
		} @else {
			<mat-form-field>
				<mat-label>Expense Date</mat-label>
				<input
					matInput
					readonly
					[matDatepicker]="picker"
					formControlName="expenseDate"
					(click)="picker.open()"
					class="mat-datepicker-input"
				/>
				<mat-icon matDatepickerToggleIcon (click)="clearDate($event)" class="clear-icon">clear</mat-icon>
				<mat-datepicker-toggle matIconSuffix [for]="picker" />
				<mat-datepicker touchUi #picker />
			</mat-form-field>
		}
	</form>
</div>
<div mat-dialog-actions class="dialog-buttons">
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [mat-dialog-close]="addExpenseForm.getRawValue()" [disabled]="addExpenseForm.invalid || !addExpenseForm.dirty">
		{{ data.expense ? "Edit" : "Create" }}
	</button>
</div>
