mat-form-field {
	width: 100%;
}

.user {
	display: flex;
	align-items: center;

	.avatar {
		position: relative;
		width: 24px;
		height: 24px;
		margin-right: 12px;
		border-radius: 50%;
		object-fit: cover;
	}
}

.clear-icon {
	position: relative;
	float: right;
	top: -8px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.4);
}

.mat-datepicker-input {
	width: 85%;
}
