mat-form-field {
	width: 100%;
}

.private {
	margin-bottom: 20px;

	.toggle-line {
		display: flex;
		align-items: center;
		margin-bottom: 6px;
		color: white;

		.toggle {
			display: flex;
			align-items: center;
			margin-left: 10px;
		}
	}

	.subtext {
		color: rgba(255, 255, 255, 0.58);
	}
}
