<h1 mat-dialog-title>{{ data?.edit ? "Change event name" : "Create event" }}</h1>
<div mat-dialog-content>
	<mat-form-field appearance="fill">
		<mat-label>Event Name</mat-label>
		<input matInput name="name" [(ngModel)]="event.name" required [appEventName]="event.id" #name="ngModel" />
		@if (name.errors?.["required"]) {
			<mat-error>Event name is required</mat-error>
		}
		@if (name.errors?.["duplicate"]) {
			<mat-error>Event name already exists</mat-error>
		}
		@if (name.errors?.["invalid"]) {
			<mat-error>Invalid event name</mat-error>
		}
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Event Description</mat-label>
		<input matInput name="description" [(ngModel)]="event.description" />
	</mat-form-field>
	@if (data?.edit === false) {
		<div class="private">
			<div class="toggle-line">
				<span>Private:</span>
				<span class="toggle">
					<mat-slide-toggle id="privateToggle" name="private" [(ngModel)]="event.private" />
				</span>
			</div>
			<div class="subtext">Private events are only visible to participants in the event.</div>
		</div>
	}
</div>
<div mat-dialog-actions class="dialog-buttons">
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button type="submit" [mat-dialog-close]="event" [disabled]="!isChanged() || name.invalid || name.pending">
		{{ data?.edit ? "Save" : "Create" }}
	</button>
</div>
