/* You can add global styles to this file, and also import other style files */

:root {
	color-scheme: dark;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	overflow-y: scroll;
}

#app {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
  overflow-y: auto;
}

a.nostyle:link {
	text-decoration: inherit;
	color: inherit;
}

a.nostyle:visited {
	text-decoration: inherit;
	color: inherit;
}

.content {
	margin-left: 10%;
	padding-bottom: 3em;
	width: 80%;
}

.navbar {
	border-top: solid 1px #333333;
	background-color: #202020;
}

.flex-spacer {
	flex: 1 1 auto;
}

.expense-table {
	width: 100%;
	caption {
		text-align: left;
	}
}

.back-button {
	margin-right: 1em !important;
}

.user-actions {
	button {
		margin: 1em;
	}
}

.mat-mdc-dialog-content {
	overflow: initial !important;
}

#category-actions {
	button {
		margin: 1em;
	}
}

.category-table {
	width: 30%;
}

.category-actions {
	display: flex;
}

.loading-spinner-container {
	margin: {
		top: 60px;
		bottom: 60px;
	}

	.progress-spinner {
		margin: auto;
		position: relative;
	}
}

.payment-actions {
	margin: 1em 0 1em 1em;
	button {
		margin: 0 2em 0 0;
	}
}

.user-list {
	mat-panel-title {
		display: contents;
		div {
			width: 30%;
			text-align: right;
		}
		div.first {
			width: 10%;
			text-align: left;
		}
	}
}

.user-panel-title {
	color: #242424;
}

.category-amount {
	text-align: right;
	justify-content: flex-end;
	div {
		margin-right: 1.5em;
	}
}

.category-user-name {
	width: 90%;
}

.user-list {
	background-color: #242424;
}

.add-button {
	margin: 2em;
}

.dialog-buttons {
	padding-left: 24px !important;
	padding-bottom: 20px !important;
}

.snackbar {
	margin-bottom: 90px !important;
	justify-content: center;
	text-align: center;
}

mat-card-title.mat-mdc-card-title {
	padding-left: 0px !important;
}

// Hide background of autocompleted inputs
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
	-webkit-background-clip: text;
}

// Change color of input labels
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: rgba(255, 255, 255, 0.7) !important;
}

// Prevent hover-selection on tooltips
mat-tooltip-component {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
