/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #303030;
}

.content {
    margin-left: 10%;
    width: 80%;
}

.navbar {
    background-color: #202020;
}

.expense-table {
    width: 100%;
}

.category-table {
    width: 30%;
}

.add-button {
    margin: 1em;
}

.category-amount {
    text-align: right;
    justify-content: flex-end;
    div {
        margin-right: 1.5em;
    }
}

.category-user-name {
    width: 90%;
}

.user-list {
    background-color: #242424;
}