/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #303030;
}

.content {
    margin-left: 10%;
    padding-bottom: 3em;
    width: 80%;
}

.navbar {
    background-color: #202020;
}

.expense-table {
    width: 100%;
    caption {
        text-align: left;
    }
}

.user-actions {
    margin: 1em;
}

.category-table {
    width: 30%;
}

.events-container {
    min-width: 20em;
    margin: 1em;
    width: auto;
    display: inline-block;
    button { 
        margin: 1em;
    }
}

.category-actions {
    display: flex;
}

.loading-spinner-container {
    margin: {
        top: 60px;
        bottom: 60px;
    };

    .progress-spinner {
        margin: auto;
        position: relative;
    }
}

.add-button {
    margin: 2em;
}

.payment-actions {
    margin: 1em 0 1em 1em;
    button {
        margin: 0 2em 0 0;
    }
}

.user-list {
    mat-panel-title {
        display: contents;
        div {
            width: 30%;
            text-align: right;
        }
        div.first {
            width: 10%;
            text-align: left;
        }
    }
}

.user-panel-title {
    color:#242424
}

.category-amount {
    text-align: right;
    justify-content: flex-end;
    div {
        margin-right: 1.5em;
    }
}

.category-user-name {
    width: 90%;
}

.user-list {
    background-color: #242424;
}