@if ((breakpointService.isMobile() | async) === false) {
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon aria-hidden="false">key</mat-icon>
			</div>
			<mat-card-title>Change password</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<ng-container *ngTemplateOutlet="changePasswordContent"></ng-container>
		</mat-card-content>
	</mat-card>
} @else {
	<div class="title-mobile">Change password</div>
	<div class="change-password-mobile">
		<ng-container *ngTemplateOutlet="changePasswordContent"></ng-container>
	</div>
}

<ng-template #changePasswordContent>
	<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
		<div>
			<mat-form-field appearance="fill" class="input-field">
				<mat-label>Current Password</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					name="change-pw"
					autocomplete="off"
					placeholder="Password"
					formControlName="currentPassword"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					tabindex="-1"
				>
					<mat-icon>
						{{ hide ? "visibility_off" : "visibility" }}
					</mat-icon>
				</button>
				@if (changePasswordForm.get("currentPassword")?.invalid) {
					<mat-error> Invalid password </mat-error>
				}
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="fill" class="input-field">
				<mat-label>New Password</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					name="change-pw"
					autocomplete="off"
					placeholder="Password"
					formControlName="newPassword"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					type="button"
					tabindex="-1"
				>
					<mat-icon>
						{{ hide ? "visibility_off" : "visibility" }}
					</mat-icon>
				</button>
				@if (changePasswordForm.get("newPassword")?.invalid) {
					<mat-error> Invalid password </mat-error>
				}
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="fill" class="input-field">
				<mat-label>Retype Password</mat-label>
				<input
					[type]="hide ? 'password' : 'text'"
					matInput
					name="change-pw"
					autocomplete="off"
					placeholder="Password"
					formControlName="newPasswordRetype"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hide = !hide"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					type="button"
					tabindex="-1"
				>
					<mat-icon>
						{{ hide ? "visibility_off" : "visibility" }}
					</mat-icon>
				</button>
				@if (changePasswordForm.get("newPasswordRetype")?.invalid) {
					<mat-error> Password does not match </mat-error>
				}
			</mat-form-field>
		</div>
		<br />
		<mat-card-actions>
			<button type="submit" mat-raised-button color="primary">Change password</button>
		</mat-card-actions>
	</form>
</ng-template>
