<mat-toolbar [ngClass]="{ 'mobile-toolbar': breakpointService.isMobile() | async }">
	<a mat-icon-button routerLink="/events" [ngClass]="(breakpointService.isMobile() | async) ? 'back-button-mobile' : 'back-button'">
		<mat-icon>arrow_back</mat-icon>
	</a>
	<span>Invite user</span>
	<span class="toolbar-spacer"></span>
	<menu></menu>
</mat-toolbar>
<div class="invite-user-section">
	<mat-card class="invite-content">
		<mat-card-header class="card-header">
			<div mat-card-avatar>
				<mat-icon>person_add</mat-icon>
			</div>
			<mat-card-title>Invite user</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<form [formGroup]="inviteForm" (ngSubmit)="inviteUser(formDirective)" #formDirective="ngForm">
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input type="email" matInput placeholder="Email" formControlName="email" />
					<mat-error *ngIf="inviteForm.get('email')?.errors?.['required']"> Email required </mat-error>
					<mat-error *ngIf="inviteForm.get('email')?.errors?.['email']"> Not a valid email </mat-error>
					<mat-error *ngIf="inviteForm.get('email')?.errors?.['duplicate']"> User with email already exists </mat-error>
				</mat-form-field>
				<br />
				<button
					type="submit"
					[class.spinner]="loading"
					[disabled]="loading"
					mat-raised-button
					color="primary"
					class="invite-button"
				>
					Send Invite <mat-icon>send</mat-icon>
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
