NODE_ENV= # Optional - defaults to dev
PORT= # Optional - defaults to 3002
ALLOWED_ORIGIN= # Optional - defaults to http://localhost:4200
LOG_LEVEL= # Optional - defaults to log
COOKIE_NAME= # Optional - defaults to mikane.sid
COOKIE_DOMAIN= # Optional - defaults to domain server is running on
DEPLOYED= # Optional - defaults to false
SESSION_SECRET= # Optional/Required - defaults to abcdef (must be set in production)

DB_HOST= # Required - database hostname or IP address
DB_PORT= # Optional - port the database is running on, defaults to 5432
DB_DATABASE= # Optional - database name, defaults to master
DB_USER= # Required - DB username
DB_PASSWORD= # Required - DB user password

MIKANE_EMAIL= # Optional - but required for email services
MIKANE_EMAIL_PASSWORD= # Optional - but required for email services
