<div class="wrapper">
	<mat-list-item (click)="toggleDropdown()">
		<div class="upper">
			<img [src]="sender.sender.avatarURL" alt="Sender avatar" class="avatar" />
			<mat-icon matListItemIcon class="dropdown-arrow">
				{{ dropdownOpen ? "arrow_drop_up" : "arrow_drop_down" }}
			</mat-icon>
			<div>
				<div class="name">
					{{ self && sender.sender.id === currentUser.id ? "You" : sender.sender.name }}
				</div>
				<div class="subtext">
					{{ self && sender.sender.id === currentUser.id ? "Owe money to..." : "Owes money to..." }}
				</div>
			</div>
		</div>
	</mat-list-item>
	<div #lower class="lower" [style.height.px]="lowerHeight">
		@for (receiver of sender.receivers; track receiver) {
			<mat-list-item>
				<div class="payment">
					<span class="name">
						<img [src]="receiver.receiver.avatarURL" alt="Receiver avatar" class="avatar" />
						{{ self && receiver.receiver.id === currentUser.id ? "You" : receiver.receiver.name }}
					</span>
					<span class="amount-color"> {{ receiver.amount | currency: "" : "" : "1.2-2" : "no" }} kr </span>
				</div>
			</mat-list-item>
		}
	</div>
</div>
