<div class="wrapper">
	<mat-list-item (click)="toggleDropdown()">
		<div class="upper">
			<img
				[src]="payment().sender.avatarURL"
				alt="Sender avatar"
				class="avatar"
				[ngClass]="{ 'clickable': !payment().sender.guest }"
				(click)="gotoUserProfile(payment().sender)"
			/>
			<mat-icon matListItemIcon class="dropdown-arrow">
				{{ dropdownOpen ? "arrow_drop_up" : "arrow_drop_down" }}
			</mat-icon>
			<div>
				<div class="name">
					{{ self() && payment().sender.id === currentUser().id ? "You" : payment().sender.name }}
				</div>
				<div class="subtext">
					{{ self() && payment().sender.id === currentUser().id ? "Owe money to..." : "Owes money to..." }}
				</div>
			</div>
		</div>
	</mat-list-item>
	<div #lower class="lower" [style.height.px]="lowerHeight">
		@for (receiver of payment().receivers; track receiver.receiver.id) {
			<mat-list-item>
				<div class="payment">
					<span class="name">
						<img
							[src]="receiver.receiver.avatarURL"
							alt="Receiver avatar"
							class="avatar"
							[ngClass]="{ 'clickable': !receiver.receiver.guest }"
							(click)="gotoUserProfile(receiver.receiver)"
						/>
						<div>
							{{ self() && receiver.receiver.id === currentUser().id ? "You" : receiver.receiver.name }}
							@if (self() && payment().sender.id === currentUser().id && receiver.receiver.phone) {
								<div class="phone-number">
									{{ receiver.receiver.phone.slice(0, 2) + ' ' + receiver.receiver.phone.slice(2, 4) + ' ' + receiver.receiver.phone.slice(4, 6) + ' ' + receiver.receiver.phone.slice(6) }}
								</div>
							}
						</div>
					</span>
					<span class="amount-color"> {{ receiver.amount | currency: "" : "" : "1.2-2" : "no" }} kr </span>
				</div>
			</mat-list-item>
		}
	</div>
</div>
