@if (data.type === "search") {
	<div class="title">Filter</div>
} @else {
	<div class="title">Filter by {{ data.type === "payers" ? "payer" : "category" }}</div>
}

@if (data.type === "search") {
	<div class="search-container">
		<mat-form-field class="search-input">
			<mat-label>Search expenses</mat-label>
			<input matInput [(ngModel)]="searchValue" (keyup)="applySearchFilter()" #input />
			@if (input.value) {
				<button matSuffix mat-icon-button (click)="clearInput()">
					<mat-icon>cancel</mat-icon>
				</button>
			}
		</mat-form-field>
	</div>
} @else {
	@if (data.type === "payers") {
		<mat-nav-list>
			@for (payer of payers; track payer.id) {
				<mat-list-item mat-list-item (click)="selectItem(payer.id)" class="wrapper">
					<div class="payers">
						<div class="name">
							<img [ngSrc]="payer.avatarURL" height="24" width="24" alt="Payer avatar" class="avatar" />
							{{ payer.name }}
						</div>
						@if (selectedValues.includes(payer.id)) {
							<mat-icon class="checkmark">check</mat-icon>
						}
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
	} @else {
		<mat-nav-list>
			@for (category of categories; track category.id) {
				<mat-list-item mat-list-item (click)="selectItem(category.id)" class="wrapper">
					<div class="categories">
						<div class="name">
							<mat-icon class="category-icon">{{ category.icon ?? "shopping_cart" }}</mat-icon>
							{{ category.name }}
						</div>
						@if (selectedValues.includes(category.id)) {
							<mat-icon class="checkmark">check</mat-icon>
						}
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
	}
}
