.toolbar-spacer {
	flex: 1 1 auto;
}

.account-settings {
	display: flex;
	// justify-content: center;
	flex-direction: column;
	align-items: center;

	.section-pc {
		margin: 2em;
		width: 36em;
		min-width: 30em;
	}

	.section-mobile {
		width: 100%;
	}
}
