<mat-toolbar [ngClass]="{ 'mobile-toolbar': breakpointService.isMobile() | async }">
	<a mat-icon-button routerLink="/events" [ngClass]="(breakpointService.isMobile() | async) ? 'back-button-mobile' : 'back-button'">
		<mat-icon>arrow_back</mat-icon>
	</a>
	<span>Account</span>
	<span class="toolbar-spacer"></span>
	<app-menu />
</mat-toolbar>
@if ((loading | async) === false) {
	<div>
		@if (user) {
			<div class="account-settings">
				<app-user-settings
					[ngClass]="(breakpointService.isMobile() | async) ? 'section-mobile' : 'section-pc first'"
					[user]="user"
				/>
				<app-preferences
					[ngClass]="(breakpointService.isMobile() | async) ? 'section-mobile' : 'section-pc'"
					[user]="user" />
				<app-change-password
					[ngClass]="(breakpointService.isMobile() | async) ? 'section-mobile' : 'section-pc'"
				/>
				<app-danger-zone
					[ngClass]="(breakpointService.isMobile() | async) ? 'section-mobile' : 'section-pc last'"
				/>
			</div>
		} @else {
			<div class="no-user">
				<mat-card appearance="outlined">
					<mat-card-content> <h1>Error loading user</h1></mat-card-content>
				</mat-card>
			</div>
		}
	</div>
} @else {
	<app-loading-spinner />
}
