<mat-toolbar [ngClass]="{ 'mobile-toolbar': breakpointService.isMobile() | async }">
	<a mat-icon-button routerLink="/events" [ngClass]="(breakpointService.isMobile() | async) ? 'back-button-mobile' : 'back-button'">
		<mat-icon>arrow_back</mat-icon>
	</a>
	<span>Guest users</span>
	<span class="toolbar-spacer"></span>
	<app-menu />
</mat-toolbar>

@if (loading === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="guests-section">
				<mat-card class="guests-content">
					<mat-card-header class="card-header">
						<div mat-card-avatar>
							<mat-icon>supervisor_account</mat-icon>
						</div>
						<mat-card-title>Manage guests</mat-card-title>
					</mat-card-header>
					<mat-card-content class="card-content">
						<ng-container *ngTemplateOutlet="guestsContent" />
					</mat-card-content>
				</mat-card>
			</div>
		} @else {
			<div class="mobile-view">
				<div class="title-mobile">Manage guest users</div>
				<ng-container *ngTemplateOutlet="guestsContent" />
			</div>
		}
	</div>
} @else {
	<app-loading-spinner />
}

<ng-template #guestsContent>
	<div class="guest-list">
		<mat-nav-list>
			@for (guest of pagedGuests; track guest.id) {
				<mat-list-item class="list-item">
					<div class="user">
						<div class="name">
							<img [ngSrc]="guest.avatarURL" height="24" width="24" alt="Guest user avatar" class="avatar" />
							{{ guest.name }}
						</div>
						@if (currentUser.superAdmin || guest.guestCreatedBy === currentUser.id) {
							<button mat-icon-button (click)="editGuest(guest)">
								<mat-icon>edit</mat-icon>
							</button>
						}
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
		@if ((breakpointService.isMobile() | async) ? length > pageSize : true) {
			<mat-paginator
				[length]="length"
				[pageSize]="pageSize"
				[pageSizeOptions]="pageSizeOptions"
				(page)="onPageChange($event)"
				[ngClass]="{ 'paginator-mobile': breakpointService.isMobile() | async }"
			/>
		}
	</div>
	@if ((breakpointService.isMobile() | async) === false) {
		<mat-card-actions>
			<button mat-raised-button color="primary" (click)="newGuest()">New guest user</button>
		</mat-card-actions>
	} @else {
		<button mat-raised-button color="primary" (click)="newGuest()" class="new-guest-button-mobile">New guest user</button>
	}
</ng-template>
