<h1 mat-dialog-title>Add users to event</h1>
<div mat-dialog-content>
	<form [formGroup]="addUserForm">
		<mat-form-field appearance="fill">
			<mat-label>User</mat-label>
			<mat-chip-grid #chipGrid>
				@for (user of selectedUsers; track user) {
					<mat-chip-row (removed)="remove(user)">
						{{ user.name }}
						<button matChipRemove>
							<mat-icon>cancel</mat-icon>
						</button>
					</mat-chip-row>
				}
			</mat-chip-grid>
			<input
				type="text"
				matInput
				#userInput
				formControlName="users"
				[matAutocomplete]="auto"
				[matChipInputFor]="chipGrid"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="add($event)"
			/>
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
				@for (user of filteredUsers | async; track user) {
					<mat-option [value]="user">
						<span class="user">
							<img [src]="user.avatarURL" alt="Avatar URL" class="avatar" />
							{{ user.name }}
						</span>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="dialog-buttons">
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button [mat-dialog-close]="selectedUsers" [disabled]="addUserForm.invalid || !addUserForm.dirty">Add</button>
</div>
