<mat-toolbar>
	<div>
		<a mat-icon-button routerLink="../../events" class="back-button">
			<mat-icon>arrow_back</mat-icon>
		</a>
	</div>
	<div>
		{{ event.name }}
	</div>
	<span class="toolbar-spacer"></span>
	<div class="settings">
		<a mat-flat-button color="accent" [routerLink]="['/settings']">
			<mat-icon>person</mat-icon>
			Account
		</a>
	</div>
	<div class="logout">
		<button mat-flat-button color="primary" (click)="logout()">
			<mat-icon aria-hidden="true" fontIcon="logout"></mat-icon>
			<span>Log out</span>
		</button>
	</div>
</mat-toolbar>
<nav class="navbar" mat-tab-nav-bar [tabPanel]="tabPanel">
	<a
		mat-tab-link
		*ngFor="let link of links"
		[routerLink]="link.location"
		(click)="activeLink = link.location"
		[active]="activeLink == link.location"
		>{{ link.name }}</a
	>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div class="content">
	<router-outlet></router-outlet>
</div>
