#footer {
	margin: 0;
	padding: 0;
	height: 80px;
	background-color: #212121;
}

#text {
	color: #777777;
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
}

.unselect {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
