.toolbar-spacer {
	flex: 1 1 auto;
}

mat-toolbar button {
	margin-left: 1em;
}

.mobile-event {
	margin-bottom: 58px; // Add margin to adjust for fixed event navbar

	&.iOS {
		margin-bottom: 88px; // Adjust margin for iOS event navbar
	}
}

.mobile-menu {
	padding-left: 0;
}

.name {
	white-space: normal;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.settings-tab {
	max-width: 10px;
	background-color: #161616;
}
