<mat-toolbar>
	<div>
		<a mat-icon-button routerLink="../../events" class="back-button">
			<mat-icon>arrow_back</mat-icon>
		</a>
	</div>
	<div>
		{{ event.name }}
	</div>
	<span class="toolbar-spacer"></span>
	<menu></menu>
</mat-toolbar>
<nav class="navbar" mat-tab-nav-bar [tabPanel]="tabPanel">
	<a
		mat-tab-link
		*ngFor="let link of links()"
		[routerLink]="link.location"
		(click)="activeLink = link.location"
		[active]="activeLink == link.location"
		>{{ link.name }}</a
	>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div [ngClass]="{ content: !(breakpointService.isMobile() | async) }">
	<router-outlet></router-outlet>
</div>
