<mat-toolbar [ngClass]="{ 'mobile-toolbar': breakpointService.isMobile() | async }">
	<div>
		<a
			mat-icon-button
			routerLink="../../events"
			[ngClass]="(breakpointService.isMobile() | async) ? 'back-button-mobile' : 'back-button'"
		>
			<mat-icon>arrow_back</mat-icon>
		</a>
	</div>
	<div class="name">
		{{ event.name }}
		<button *ngIf="event.active === false && (breakpointService.isMobile() | async) === false" mat-stroked-button disabled>
			Archived
		</button>
	</div>
	<span class="toolbar-spacer"></span>
	<app-menu [ngClass]="{ 'mobile-menu': breakpointService.isMobile() | async }"></app-menu>
</mat-toolbar>
<nav *ngIf="(breakpointService.isMobile() | async) === false; else mobileNavbar" class="navbar" mat-tab-nav-bar [tabPanel]="tabPanel">
	<a
		mat-tab-link
		*ngFor="let link of links()"
		[routerLink]="link.location"
		(click)="activeLink = link.location"
		[active]="activeLink.includes(link.location)"
		[ngClass]="{ 'settings-tab': link.name === 'Settings' || link.name === 'Info' }"
	>
		<mat-icon *ngIf="link.name === 'Settings' || link.name === 'Info'; else name">{{ link.icon }}</mat-icon>
		<ng-template #name>
			{{ link.name }}
		</ng-template>
	</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<ng-template #mobileNavbar>
	<app-mobile-event-navbar [activeLink]="activeLink" [links]="links()"></app-mobile-event-navbar>
</ng-template>
<div
	[ngClass]="{
		content: (breakpointService.isMobile() | async) === false,
		'mobile-event': breakpointService.isMobile() | async,
		iOS: contextService.isIos
	}"
>
	<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
</div>
