.expenses-list-mobile {
  padding: 0;
}

.category-amount {
  margin-right: 1.5em;
  // color: rgb(172 255 163);
  color: rgb(255 133 181);
}

.add-expense-button-mobile {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
}
