@if ((loading | async) === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="settings">
				<mat-card class="card">
					<mat-card-header>
						<div mat-card-avatar>
							<mat-icon>settings</mat-icon>
						</div>
						<mat-card-title>Event settings</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<div class="header">Edit event</div>
						<div>
							<ng-container *ngTemplateOutlet="editContent" />
						</div>
						<div class="header">Change status</div>
						<div class="event-settings-content status">
							<ng-container *ngTemplateOutlet="statusContent" />
						</div>
						<div class="header">Manage administrators</div>
						<div class="event-settings-content admins">
							<ng-container *ngTemplateOutlet="adminsContent" />
						</div>
						<div class="header">Delete event</div>
						<div class="event-settings-content delete">
							<ng-container *ngTemplateOutlet="deleteContent" />
						</div>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="settings">
				<mat-card class="card">
					<mat-card-header>
						<div mat-card-avatar>
							<mat-icon>mail</mat-icon>
						</div>
						<mat-card-title>Notifications</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<div class="header">Add expenses reminder</div>
						<div class="event-settings-content notifications">
							<ng-container *ngTemplateOutlet="notificationsAddExpensesReminderContent" />
						</div>
						<div class="header">Ready to settle</div>
						<div class="event-settings-content notifications">
							<ng-container *ngTemplateOutlet="notificationsReadyToSettleContent" />
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		}
		<!-- Mobile -->
		@else {
			<div class="header-mobile">Edit event</div>
			<ng-container *ngTemplateOutlet="editContent" />
			<div class="header-mobile">Change status</div>
			<div class="event-settings-content status">
				<ng-container *ngTemplateOutlet="statusContent" />
			</div>
			<div class="header-mobile admins">Manage administrators</div>
			<div>
				<ng-container *ngTemplateOutlet="adminsContent" />
			</div>
			<div class="header-mobile">Notification: Add expenses reminder</div>
			<div class="event-settings-content notifications">
				<ng-container *ngTemplateOutlet="notificationsAddExpensesReminderContent" />
			</div>
			<div class="header-mobile">Notification: Ready to settle</div>
			<div class="event-settings-content notifications">
				<ng-container *ngTemplateOutlet="notificationsReadyToSettleContent" />
			</div>
			<div class="header-mobile">Delete event</div>
			<div class="event-settings-content delete-mobile">
				<ng-container *ngTemplateOutlet="deleteContent" />
			</div>
		}
	</div>
} @else {
	<app-loading-spinner />
}

<ng-template #editContent>
	<form (ngSubmit)="editEvent()" class="event-settings-content form">
		@if (event.status.id !== EventStatusType.ACTIVE) {
			<div class="only-active-edit">Only active events can be edited</div>
		}
		<mat-form-field appearance="fill">
			<mat-label>Event Name</mat-label>
			<input
				matInput
				name="name"
				[(ngModel)]="eventData.name"
				required
				[disabled]="event.status.id !== EventStatusType.ACTIVE"
				[appEventName]="eventData.id"
				#name="ngModel"
			/>
			@if (name.errors?.["required"]) {
				<mat-error>Event name is required</mat-error>
			}
			@if (name.errors?.["duplicate"]) {
				<mat-error>Event name already exists</mat-error>
			}
			@if (name.errors?.["invalid"]) {
				<mat-error>Invalid event name</mat-error>
			}
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Event Description</mat-label>
			<input
				matInput
				name="description"
				[(ngModel)]="eventData.description"
				[disabled]="event.status.id !== EventStatusType.ACTIVE"
			/>
		</mat-form-field>
		<div class="private">
			<div class="toggle-line">
				<span [ngClass]="{ disabled: event.status.id !== EventStatusType.ACTIVE }">Private event:</span>
				<span class="toggle">
					<mat-slide-toggle
						id="privateToggle"
						name="private"
						[(ngModel)]="eventData.private"
						[disabled]="event.status.id !== EventStatusType.ACTIVE"
					/>
				</span>
			</div>
			<div [ngClass]="{ disabled: event.status.id !== EventStatusType.ACTIVE }" class="subtext">
				Private events are only visible to participants in the event.
			</div>
		</div>
		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="event.status.id !== EventStatusType.ACTIVE || name.invalid || name.pending"
			[ngClass]="(breakpointService.isMobile() | async) ? 'save-button-mobile' : 'save-button-pc'"
		>
			Save
		</button>
	</form>
</ng-template>

<ng-template #statusContent>
	<button mat-stroked-button disabled class="event-info-marker">
		{{ event?.status.name }}
	</button>
	@switch (event?.status.id) {
		@case (EventStatusType.ACTIVE) {
			<div>
				<div class="event-settings-text">
					This event is currently <b>active</b>. Setting it as 'ready to settle' will prevent further edits and prompt
					participants to settle their payments.
				</div>
				<button mat-raised-button color="primary" (click)="setStatus(EventStatusType.READY_TO_SETTLE)" class="status-button">
					Set event as ready to settle
				</button>
			</div>
		}
		@case (EventStatusType.READY_TO_SETTLE) {
			<div>
				<div class="event-settings-text">
					This event is currently <b>ready to settled</b>. Once all participants have settled their payments, the event should be
					set as settled. Should any changes be neccessary, set the event as active again.
				</div>
				<button mat-raised-button color="primary" (click)="setStatus(EventStatusType.SETTLED)" class="status-button">
					Set event as settled
				</button>
				<button mat-raised-button color="accent" (click)="setStatus(EventStatusType.ACTIVE)" class="status-button">
					Set event as active
				</button>
			</div>
		}
		@case (EventStatusType.SETTLED) {
			<div class="event-settings-text">
				This event is currently <b>settled</b>. Set it to active to allow participants to edit it again.
			</div>
			<button mat-raised-button color="accent" (click)="setStatus(EventStatusType.ACTIVE)" class="status-button">
				Set event as active
			</button>
		}
	}
</ng-template>

<ng-template #adminsContent>
	<div class="admins-content" [ngClass]="{ 'full-view': (breakpointService.isMobile() | async) === false }">
		<mat-nav-list>
			@for (admin of adminsInEvent; track admin.id) {
				<mat-list-item class="list-item">
					<div class="admin">
						<div class="name">
							<img
								[ngSrc]="admin.avatarURL"
								alt="User avatar"
								class="avatar"
								width="24"
								height="24"
								[ngClass]="{ clickable: !admin.guest }"
								(click)="gotoUserProfile(admin)"
							/>
							{{ admin.name }}
						</div>
						<button mat-icon-button (click)="removeAdmin(admin.id)" [disabled]="adminsInEvent.length < 2">
							<mat-icon>remove</mat-icon>
						</button>
					</div>
				</mat-list-item>
			}
		</mat-nav-list>
		<div class="add-admin" [ngClass]="{ mobile: breakpointService.isMobile() | async }">
			@if (otherUsersInEvent.length !== 0) {
				<mat-form-field>
					<mat-select [formControl]="addAdminForm.get('userId') | formControl" name="userId" placeholder="Add admin" required>
						@for (user of otherUsersInEvent; track user.id) {
							<mat-option [value]="user.id">
								<span class="name">
									<img [ngSrc]="user.avatarURL" width="24" height="24" alt="User avatar" class="avatar" />
									{{ user.name }}
								</span>
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
			} @else {
				<div class="all-users-admins">All users in this event are admins</div>
			}
			<button
				mat-icon-button
				type="button"
				(click)="addAdmin()"
				[disabled]="addAdminForm.get('userId')?.invalid || !addAdminForm.get('userId')?.dirty"
				class="add-admin-button"
			>
				<mat-icon>add_circle</mat-icon>
			</button>
		</div>
	</div>
</ng-template>

<ng-template #notificationsReadyToSettleContent>
	@if (event?.status.id === EventStatusType.READY_TO_SETTLE) {
		<div class="event-settings-text">
			As the event is ready to be settled, you can email all payers to inform them of their expenses, how much they owe, and who to
			pay.
		</div>
	} @else {
		<div class="event-settings-text">Only events that are ready to be settled can send this email.</div>
	}
	<button
		mat-raised-button
		color="primary"
		[disabled]="event?.status.id !== EventStatusType.READY_TO_SETTLE || emailReadyToSettleSentLoading"
		[class.spinner]="emailReadyToSettleSentLoading"
		(click)="sendReadyToSettleEmails()"
	>
		<mat-icon>email</mat-icon>
		Send 'ready to settle' email
	</button>
</ng-template>

<ng-template #notificationsAddExpensesReminderContent>
	@if (event?.status.id === EventStatusType.ACTIVE) {
		<div class="event-settings-text">
			Email all participants to remind them to add their expenses, optionally with a deadline before a planned 'ready to settle' date.
		</div>
	} @else {
		<div class="event-settings-text">Only active events can send this email.</div>
	}
	<div>
		<mat-form-field [ngClass]="{ 'full-view': (breakpointService.isMobile() | async) === false }">
			<mat-label>Planned 'ready to settle' date</mat-label>
			<input
				matInput
				readonly
				[matDatepicker]="picker"
				[(ngModel)]="addExpensesCutoffDate"
				[disabled]="event?.status.id !== EventStatusType.ACTIVE || emailReminderSentLoading"
				[min]="notificationsMinDate"
				(click)="picker.open()"
				class="mat-datepicker-input"
			/>
			<mat-icon matDatepickerToggleIcon (click)="addExpensesCutoffDate.set(null)" class="clear-icon">clear</mat-icon>
			<mat-datepicker-toggle matIconSuffix [for]="picker" />
			<mat-datepicker #picker [touchUi]="contextService.isMobileDevice" />
		</mat-form-field>
	</div>
	<button
		mat-raised-button
		color="primary"
		[disabled]="event?.status.id !== EventStatusType.ACTIVE || emailReminderSentLoading"
		[class.spinner]="emailReminderSentLoading"
		(click)="sendAddExpensesReminderEmails()"
	>
		<mat-icon>email</mat-icon>
		Send 'add expenses reminder' email
	</button>
</ng-template>

<ng-template #deleteContent>
	<div class="event-settings-text">
		Warning: Deleting this event will remove the event in its entirety, along with all categories and expenses. This action is
		irreversible.
	</div>
	<button mat-raised-button color="warn" (click)="deleteEvent()" [disabled]="event.status.id !== EventStatusType.ACTIVE">
		{{ event.status.id === EventStatusType.ACTIVE ? "Delete event" : "Only active events can be deleted" }}
	</button>
</ng-template>
