<div class="change-password">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon aria-hidden="false">key_off</mat-icon>
			</div>
			<mat-card-title>Password</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
				<div>
					<mat-form-field appearance="fill" class="password-input">
						<mat-label>Old Password</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							matInput
							name="change-pw"
							autocomplete="off"
							placeholder="Old Password"
							formControlName="oldPassword" />
						<button
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
						>
							<mat-icon>
								{{ hide ? "visibility_off" : "visibiliy" }}
							</mat-icon>
						</button>
						<mat-error *ngIf="changePasswordForm.get('password')?.invalid"> Invalid password </mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="fill" class="password-input">
						<mat-label>New Password</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							matInput
							name="change-pw"
							autocomplete="off"
							placeholder="Password"
							formControlName="newPassword" />
						<button
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
						>
							<mat-icon>
								{{ hide ? "visibility_off" : "visibiliy" }}
							</mat-icon>
						</button>
						<mat-error *ngIf="changePasswordForm.get('password')?.invalid"> Invalid password </mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="fill" class="password-input">
						<mat-label>Retype Password</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							matInput
							name="change-pw"
							autocomplete="off"
							placeholder="Retype Password"
							formControlName="passwordRetype"
						/>
						<button
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
							type="button"
						>
							<mat-icon>
								{{ hide ? "visibility_off" : "visibility" }}
							</mat-icon>
						</button>
						<mat-error *ngIf="changePasswordForm.get('passwordRetype')?.invalid"> Password does not match </mat-error>
					</mat-form-field>
				</div>
				<br />
				<mat-card-actions class="reset-actions">
					<button type="submit" mat-raised-button color="primary">Change password</button>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>
