<mat-list-item class="wrapper">
	<div class="upper">
		<div class="title">
			<img [src]="userBalance.user.avatarURL" alt="User avatar" class="avatar" (click)="gotoUserProfile(); $event.stopPropagation()" />
			<div>
				<div class="number-of-expenses">Number of expenses: {{ userBalance.expensesCount }}</div>
				<div class="name">
					{{ userBalance.user.name }}
				</div>
			</div>
		</div>
		@if (eventActive && userBalance.expensesCount === 0) {
			<button	mat-icon-button (click)="removeUserFromEvent(); $event.stopPropagation()">
				<mat-icon>remove</mat-icon>
			</button>
		}
	</div>
	<div class="lower">
		<div class="balances">
			<div>
				<span class="text">Spending:</span>
				<span> {{ userBalance.spending | currency : "" : "" : "1.2-2" : "no" }} kr </span>
			</div>
			<div>
				<span class="text">Expenses:</span>
				<span> {{ userBalance.expenses | currency : "" : "" : "1.2-2" : "no" }} kr </span>
			</div>
			<div>
				<span class="text">Balance:</span>
				<span class="amount-color"> {{ userBalance.balance | currency : "" : "" : "1.2-2" : "no" }} kr </span>
			</div>
		</div>
	</div>
</mat-list-item>
