<div class="add-button">
	<button mat-raised-button color="primary" (click)="openDialog()">
		<mat-icon>post_add</mat-icon>
		Add category
	</button>
</div>

<div *ngIf="(loading | async) === false; else loadingSpinner">
	<mat-accordion *ngIf="categories.length > 0; else noCategories">
		<mat-expansion-panel *ngFor="let category of categories" class="categories">
			<mat-expansion-panel-header>
				<mat-panel-title>{{ category.name }}</mat-panel-title>
			</mat-expansion-panel-header>

			<ng-template matExpansionPanelContent>
				<!-- Deferred initialization until the panel is open. -->
				<table mat-table [class]="category.weighted ? 'category-table-weighted' : 'category-table'" [dataSource]="category.users">
					<form [formGroup]="addUserForm">
						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef>Participant</th>
							<td mat-cell *matCellDef="let user">
								{{ user.name }}
							</td>
							<td mat-footer-cell *matFooterCellDef>
								<mat-form-field class="category-user-input add-user" subscriptSizing="dynamic">
									<select matNativeControl formControlName="participantName" name="participantName" required>
										<option value="" disabled selected>Choose participant</option>
										<option *ngFor="let user of filterUsers(category.id)" [value]="user.id">
											{{ user.name }}
										</option>
									</select>
								</mat-form-field>
							</td>
						</ng-container>

						<!-- Weight Column -->
						<ng-container matColumnDef="weight">
							<th mat-header-cell *matHeaderCellDef>
								{{ category.weighted ? "Weight" : "" }}
							</th>
							<td mat-cell *matCellDef="let user">
								{{ category.weighted ? user.weight : "" }}
							</td>
							<td mat-footer-cell *matFooterCellDef>
								<mat-form-field *ngIf="category.weighted" subscriptSizing="dynamic" class="category-weight-input add-user">
									<input
										matInput
										type="text"
										formControlName="weight"
										name="weight"
										placeholder="Weight"
										readonly="false"
									/>
								</mat-form-field>
							</td>
						</ng-container>

						<!-- Save button column -->
						<ng-container matColumnDef="save">
							<th mat-header-cell *matHeaderCellDef></th>
							<td mat-cell *matCellDef="let user">
								<div class="category-actions">
									<button
										mat-icon-button
										type="button"
										(click)="openEditDialog(category.id, user.id)"
										*ngIf="category.weighted"
									>
										<mat-icon>edit</mat-icon>
									</button>
									<button mat-icon-button type="button" (click)="removeUser(category.id, user.id)">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</td>
							<td mat-footer-cell *matFooterCellDef>
								<button
									mat-icon-button
									type="button"
									(click)="addUser(category.id)"
									[disabled]="
										addUserForm.get('participantName')?.invalid ||
										!addUserForm.get('participantName')?.dirty ||
										(category.weighted && addUserForm.get('weight')?.invalid)
									"
									class="add-user"
								>
									<mat-icon>add_circle</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

						<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
					</form>
				</table>
				<div id="category-actions">
					<button mat-raised-button type="button" color="accent" (click)="toggleWeighted(category.id, category.weighted)">
						Toggle weighted
					</button>
					<button mat-raised-button type="button" color="warn" (click)="deleteCategoryDialog(category.id)">
						Delete category
					</button>
				</div>
			</ng-template>
		</mat-expansion-panel>
	</mat-accordion>
</div>

<ng-template #loadingSpinner>
	<loading-spinner></loading-spinner>
</ng-template>

<ng-template #noCategories>
	<mat-card appearance="outlined"> No expense categories </mat-card>
</ng-template>
