@if ((breakpointService.isMobile() | async) === false) {
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar>
				<mat-icon aria-hidden="false">warning</mat-icon>
			</div>
			<mat-card-title>Danger zone</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<ng-container *ngTemplateOutlet="dangerZoneContent"></ng-container>
		</mat-card-content>
	</mat-card>
} @else {
	<div class="title-mobile">Danger zone</div>
	<div class="danger-zone-mobile">
		<ng-container *ngTemplateOutlet="dangerZoneContent"></ng-container>
	</div>
}

<ng-template #dangerZoneContent>
	<div>
		<h2>Delete your account</h2>
	</div>
	<div class="delete-account-text">
		When you initiate the deletion process by clicking the button below, you will receive a confirmation email containing the deletion
		link. Take a moment to consider your decision before proceeding with this link.
		<br /><br />
		If you decide to proceed, here's what you should know: Your contributions to active events will be completely removed. For settled events,
		your contributions will be anonymized to maintain event integrity, ensuring no identifiable connection to your deleted account.
	</div>
	<mat-card-actions>
		<button type="button" [class.spinner]="loading" [disabled]="loading" mat-stroked-button color="warn" (click)="deleteUser()">
			<mat-icon>email</mat-icon>
			Send delete account email
		</button>
	</mat-card-actions>
</ng-template>
