<mat-card *ngIf="(breakpointService.isMobile() | async) === false; else mobileView">
	<mat-card-header>
		<div mat-card-avatar>
			<mat-icon aria-hidden="false">warning</mat-icon>
		</div>
		<mat-card-title>Danger zone</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<ng-container *ngTemplateOutlet="dangerZoneContent"></ng-container>
	</mat-card-content>
</mat-card>

<ng-template #mobileView>
	<div class="title-mobile">Danger zone</div>
	<div class="danger-zone-mobile">
		<ng-container *ngTemplateOutlet="dangerZoneContent"></ng-container>
	</div>
</ng-template>

<ng-template #dangerZoneContent>
	<div>
		<h2>Delete your account</h2>
	</div>
	<div class="delete-account-text">
		When you initiate the deletion process by clicking the button below, you will receive a confirmation email containing the deletion link.
		Take a moment to consider your decision before proceeding with this link.
		<br /><br />
		If you decide to proceed, here's what you should know: Your contributions to active events will be removed completely. For events that have been archived,
		to maintain the event's integrity, your contributions will be anonymized. This means that there won't be any identifiable connection back to your account.
	</div>
	<mat-card-actions>
		<button type="button" [class.spinner]="loading" [disabled]="loading" mat-stroked-button color="warn" (click)="deleteUser()">
			<mat-icon>email</mat-icon>
			Send delete account email
		</button>
	</mat-card-actions>
</ng-template>
