<mat-toolbar [ngClass]="{ 'mobile-toolbar': breakpointService.isMobile() | async }">
	<a mat-icon-button routerLink="/events" [ngClass]="(breakpointService.isMobile() | async) ? 'back-button-mobile' : 'back-button'">
		<mat-icon>arrow_back</mat-icon>
	</a>
	<span>Profile</span>
	<span class="toolbar-spacer"></span>
	<app-menu></app-menu>
</mat-toolbar>

@if (loading === false) {
	<div>
		@if ((breakpointService.isMobile() | async) === false) {
			<div class="profile-page">
				<mat-card class="profile-content">
					<mat-card-header>
						@if (user?.avatarURL) {
							<img mat-card-avatar [src]="user?.avatarURL" alt="User avatar" class="avatar" />
						}
						<mat-card-title>{{ user?.firstName + " " + user?.lastName }}</mat-card-title>
						<mat-card-subtitle>{{ user?.username }}</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<div class="user-row">
							<span class="user-padding">
								<mat-icon class="icon">email</mat-icon>
								@if (user?.email) {
									<a [href]="'mailto:' + user?.email">{{ user?.email }} </a>
								}
								@else {
									<i>Private</i>
								}
							</span>
						</div>
						<div class="user-row">
							<span class="user-padding">
								<mat-icon class="icon">phone</mat-icon>
								@if (user?.phone) {
									{{ user?.phone }}
								}
								@else {
									<i>Private</i>
								}
							</span>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		} @else {
			<div class="mobile-view">
				<div class="header">
					@if (user?.avatarURL) {
						<img [src]="user?.avatarURL" alt="User avatar" class="avatar" />
					}
					<div>
						<div id="name">{{ user?.firstName + " " + user?.lastName }}</div>
						<div id="username">{{ user?.username }}</div>
					</div>
				</div>
				<div class="details">
					<div class="user-row">
						<span class="user-padding">
							<mat-icon class="icon">email</mat-icon>
							@if (user?.email) {
								<a [href]="'mailto:' + user?.email">{{ user?.email }} </a>
							}
							@else {
								<i>Private</i>
							}
						</span>
					</div>
					<div class="user-row">
						<span class="user-padding">
							<mat-icon class="icon">phone</mat-icon>
							@if (user?.phone) {
								{{ user?.phone }}
							}
							@else {
								<i>Private</i>
							}
						</span>
					</div>
				</div>
			</div>
		}
	</div>
} @else {
	<app-loading-spinner></app-loading-spinner>
}
